@page
@model AppLibreria_CaruajulcaTiglla.Pages.Proveedores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Proveedor</h1>

<form method="get">
    <div class="form-group">
        <label for="FechaInicio">Fecha Inicio:</label>
        <input type="date" id="FechaInicio" name="FechaInicio" value="@Model.FechaInicio?.ToString("yyyy-MM-dd")" class="form-control" />
    </div>
    <div class="form-group">
        <label for="FechaFin">Fecha Fin:</label>
        <input type="date" id="FechaFin" name="FechaFin" value="@Model.FechaFin?.ToString("yyyy-MM-dd")" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Filtrar" class="btn btn-primary" />
    </div>
</form>

@* <div class="form-group">
        <label for="Valoracion">Valoración:</label>
        <select id="Valoracion" name="Valoracion" class="form-control">
            <option value="">Seleccione una valoración</option>
            <option value="Excelente" @(Model.Valoracion == Valoracion.Excelente ? "selected" : "")>Excelente</option>
            <option value="Bueno" @(Model.Valoracion == Valoracion.Bueno ? "selected" : "")>Bueno</option>
            <option value="Regular" @(Model.Valoracion == Valoracion.Regular ? "selected" : "")>Regular</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Filtrar" class="btn btn-primary" />
    </div> *@

<p>
    <a asp-page="Create">Create New</a>
</p>

<div>
    <h4>Total de registros encontrados: @Model.TotalRegistros</h4>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].FechaContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].Valoracion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proveedor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valoracion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
